@mixin auto {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 0 3px #fff;
}

@mixin background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}